/* src/index.css */

@import "./index.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #e3940d;
}

.link-container {
  display: flex;
  justify-content: center;
}
/* .app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
} */
.nav-link {
  margin-right: 0 10px;
  padding: 10px;
}

.completed {
  text-decoration: line-through;
}

.line-through {
  text-decoration: line-through;
}
